.leading-companies {
  width: 100%;
  padding: 0 128px;
  margin-bottom: 137.5px;
}
.leading-companies .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.leading-companies .flex-container img {
  width: 145px;
  max-height: 144px;
  min-height: 21px;
}
.leading-companies h2 {
  font-size: 36px;
  line-height: 47px;
}
.leading-companies p {
  margin-bottom: 69px;
  color: rgba(0, 0, 0, 0.85);
}